.container-fluid{
  
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(106, 155, 131);
    font-family: 'Gill Sans';
    padding: 5px 5px 5px 5px;
     color: white;
}
.barra{
    background-color: black;
}
.navbar-brand{
   /*INICIO*/
    color:rgb(244, 241, 241);
    font-size: 20px;
    padding: 5px 5px 5px 5px;
  }  
.nav-link {/*SERVICIOS Y CONTACTO*/
    font-weight: bold;
    font-size: 20px;
    padding: 5px 5px 5px 5px; 
    color: rgb(244, 241, 241);
}
.nav-item .a .nav-link{
    font-weight: bold;
    font-size: 20px;
    padding: 5px 5px 5px 5px; 
    color: rgb(244, 241, 241);
}
.dropdown-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}
.container.sm{
 display: flex;   
 flex-direction: row;
}